<div class="container">
  <div><!--</div><div class="masthead ng-cloak"> -->
    <h3 class="text-muted">{{title}}</h3>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div>
        <tabset>
          <tab heading="{{tabNames.tab0}}">
            <div class="tabpanel">
              <tab0></tab0>
            </div>
          </tab>
          <tab heading="{{tabNames.tab1}}">
            <div class="tabpanel">
              <tab1></tab1>
            </div>
          </tab>
          <tab heading="{{tabNames.tab2}}">
            <div class="tabpanel">
              <tab2></tab2>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  <!-- Site footer -->
  <footer class="footer">
    <p>{{footer}}</p>
  </footer>
</div> <!-- /container -->
